{
  "openapi": "3.1.0",
  "info": {
    "title": "Copilot Bridge Cloud App and Gateway API",
    "version": "2.4.0"
  },
  "servers": [
    {
      "url": "https://ai.mddxz.top"
    }
  ],
  "components": {
    "securitySchemes": {
      "DesktopBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Desktop bearer requests also require a DPoP compact ES256 JWT bound to the installation public P-256 JWK. Browser cookies remain exempt."
      }
    },
    "schemas": {
      "DeviceInfo": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "platform": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "osVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          },
          "appVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          }
        },
        "required": [
          "deviceId",
          "deviceName",
          "platform"
        ]
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "osVersion": {
            "type": "string"
          },
          "appVersion": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "REVOKED",
              "BLOCKED"
            ]
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "userId",
          "deviceId",
          "deviceName",
          "platform",
          "osVersion",
          "appVersion",
          "status",
          "activatedAt",
          "lastSeenAt",
          "updatedAt"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "device": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60
              },
              "osVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "appVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              }
            },
            "required": [
              "deviceId",
              "deviceName",
              "platform"
            ]
          }
        },
        "required": [
          "email",
          "password",
          "device"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number",
            "enum": [
              1800
            ]
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string",
                "enum": [
                  "USER",
                  "ADMIN"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "DISABLED",
                  "EXPIRED"
                ]
              }
            },
            "required": [
              "id",
              "email",
              "role",
              "status"
            ]
          },
          "device": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60
              },
              "osVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "appVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "REVOKED"
                ]
              },
              "activatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "lastSeenAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            },
            "required": [
              "deviceId",
              "deviceName",
              "platform",
              "id",
              "userId",
              "status",
              "activatedAt",
              "lastSeenAt"
            ]
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "user",
          "device"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 20
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number",
            "enum": [
              1800
            ]
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "ACCOUNT_DISABLED",
                  "AUTH_REQUIRED",
                  "BILLING_REVIEW_REQUIRED",
                  "CANNOT_DISABLE_SELF",
                  "CLIENT_THREAD_ID_REQUIRED",
                  "COPILOT_AUTH_EXPIRED",
                  "COPILOT_NOT_ENTITLED",
                  "COPILOT_USAGE_UNAVAILABLE",
                  "CSRF_REJECTED",
                  "DEVICE_LIMIT_REACHED",
                  "DEVICE_NOT_REGISTERED",
                  "DEVICE_PROOF_INVALID",
                  "DEVICE_PROOF_REPLAYED",
                  "DEVICE_REVOKED",
                  "EMAIL_IN_USE",
                  "EMAIL_CODE_INVALID",
                  "EMAIL_DELIVERY_UNAVAILABLE",
                  "FEATURE_DISABLED",
                  "TURNSTILE_INVALID",
                  "TURNSTILE_UNAVAILABLE",
                  "FORBIDDEN",
                  "GATEWAY_TIMEOUT",
                  "IDEMPOTENCY_CONFLICT",
                  "INSUFFICIENT_POINTS",
                  "INTERNAL_ERROR",
                  "INVALID_CREDENTIALS",
                  "INVALID_POINTS",
                  "INVALID_PROVIDER_CONNECTION",
                  "INVALID_REFERRAL_CODE",
                  "MODEL_NOT_ALLOWED",
                  "MODEL_NOT_AVAILABLE",
                  "MODEL_PROVIDER_MISMATCH",
                  "MODEL_UNAVAILABLE",
                  "MONTHLY_QUOTA_EXCEEDED",
                  "NOT_FOUND",
                  "ORDER_NOT_PAYABLE",
                  "PAYMENT_PROVIDER_NOT_CONNECTED",
                  "PLAN_NOT_FOUND",
                  "PLAN_REQUIRED",
                  "PROVIDER_AUTH_REQUIRED",
                  "PROVIDER_CONNECTION_UNAVAILABLE",
                  "PROVIDER_UNAVAILABLE",
                  "RATE_CARD_EXISTS",
                  "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                  "RATE_CARD_NOT_DRAFT",
                  "RATE_CARD_UNAVAILABLE",
                  "RATE_LIMITED",
                  "REFERRAL_CODE_UNAVAILABLE",
                  "REFERRAL_NOT_ELIGIBLE",
                  "REFERRAL_NOT_REVIEWABLE",
                  "REQUEST_NOT_FOUND",
                  "ROLLOVER_POLICY_INVALID",
                  "SUBSCRIPTION_EXPIRED",
                  "SUBSCRIPTION_NOT_FOUND",
                  "SUBSCRIPTION_REQUIRED",
                  "TOKEN_EXPIRED",
                  "UNAUTHORIZED",
                  "VALIDATION_ERROR",
                  "WALLET_LEDGER_MISMATCH",
                  "WALLET_LIMIT_REACHED"
                ]
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message",
              "request_id",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "enum": [
              "STANDARD",
              "PRO"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "monthlyPrice": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "maxDevices": {
            "type": "integer"
          },
          "monthlyTokenLimit": {
            "type": "integer"
          },
          "monthlyUsageCreditLimit": {
            "type": "string"
          },
          "maxConcurrentRequests": {
            "type": "integer"
          },
          "requestsPerMinute": {
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "description",
          "monthlyPrice",
          "currency",
          "maxDevices",
          "monthlyTokenLimit",
          "monthlyUsageCreditLimit",
          "maxConcurrentRequests",
          "requestsPerMinute",
          "enabled"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "planId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "TRIAL",
              "ACTIVE",
              "PAST_DUE",
              "CANCELED",
              "EXPIRED",
              "SUSPENDED"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentPeriodStart": {
            "type": "string",
            "format": "date-time"
          },
          "currentPeriodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "cancelAtPeriodEnd": {
            "type": "boolean"
          },
          "pendingPlanId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "userId",
          "planId",
          "status",
          "startedAt",
          "currentPeriodStart",
          "currentPeriodEnd",
          "cancelAtPeriodEnd",
          "pendingPlanId"
        ]
      },
      "Usage": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "requests": {
            "type": "number"
          },
          "tokenLimit": {
            "type": "number"
          },
          "creditLimit": {
            "type": "number"
          },
          "percent": {
            "type": "number"
          },
          "threshold": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  70
                ]
              },
              {
                "type": "number",
                "enum": [
                  90
                ]
              },
              {
                "type": "number",
                "enum": [
                  100
                ]
              }
            ]
          }
        },
        "required": [
          "tokens",
          "credit",
          "requests",
          "tokenLimit",
          "creditLimit",
          "percent",
          "threshold"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string",
                "enum": [
                  "USER",
                  "ADMIN"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "DISABLED",
                  "EXPIRED"
                ]
              }
            },
            "required": [
              "id",
              "email",
              "role",
              "status"
            ]
          },
          "subscription": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "planId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "TRIAL",
                  "ACTIVE",
                  "PAST_DUE",
                  "CANCELED",
                  "EXPIRED",
                  "SUSPENDED"
                ]
              },
              "startedAt": {
                "type": "string",
                "format": "date-time"
              },
              "currentPeriodStart": {
                "type": "string",
                "format": "date-time"
              },
              "currentPeriodEnd": {
                "type": "string",
                "format": "date-time"
              },
              "cancelAtPeriodEnd": {
                "type": "boolean"
              },
              "pendingPlanId": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              }
            },
            "required": [
              "id",
              "userId",
              "planId",
              "status",
              "startedAt",
              "currentPeriodStart",
              "currentPeriodEnd",
              "cancelAtPeriodEnd",
              "pendingPlanId"
            ]
          },
          "plan": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "code": {
                "type": "string",
                "enum": [
                  "STANDARD",
                  "PRO"
                ]
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "monthlyPrice": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "maxDevices": {
                "type": "integer"
              },
              "monthlyTokenLimit": {
                "type": "integer"
              },
              "monthlyUsageCreditLimit": {
                "type": "string"
              },
              "maxConcurrentRequests": {
                "type": "integer"
              },
              "requestsPerMinute": {
                "type": "integer"
              },
              "enabled": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "code",
              "name",
              "description",
              "monthlyPrice",
              "currency",
              "maxDevices",
              "monthlyTokenLimit",
              "monthlyUsageCreditLimit",
              "maxConcurrentRequests",
              "requestsPerMinute",
              "enabled"
            ]
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "deviceId": {
                  "type": "string",
                  "format": "uuid"
                },
                "deviceName": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "platform": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                },
                "osVersion": {
                  "type": "string",
                  "maxLength": 120,
                  "default": ""
                },
                "appVersion": {
                  "type": "string",
                  "maxLength": 120,
                  "default": ""
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "userId": {
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "ACTIVE",
                    "REVOKED"
                  ]
                },
                "activatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastSeenAt": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "deviceId",
                "deviceName",
                "platform",
                "id",
                "userId",
                "status",
                "activatedAt",
                "lastSeenAt"
              ]
            }
          },
          "usage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "tokens": {
                "type": "number"
              },
              "credit": {
                "type": "number"
              },
              "requests": {
                "type": "number"
              },
              "tokenLimit": {
                "type": "number"
              },
              "creditLimit": {
                "type": "number"
              },
              "percent": {
                "type": "number"
              },
              "threshold": {
                "anyOf": [
                  {
                    "type": "number",
                    "enum": [
                      0
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      70
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      90
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      100
                    ]
                  }
                ]
              }
            },
            "required": [
              "tokens",
              "credit",
              "requests",
              "tokenLimit",
              "creditLimit",
              "percent",
              "threshold"
            ]
          }
        },
        "required": [
          "user",
          "subscription",
          "plan",
          "devices",
          "usage"
        ]
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string",
                  "enum": [
                    "model"
                  ]
                },
                "owned_by": {
                  "type": "string"
                },
                "capabilities": {
                  "type": "object",
                  "properties": {
                    "tools": {
                      "type": "boolean"
                    },
                    "vision": {
                      "type": "boolean"
                    },
                    "reasoning": {
                      "type": "boolean"
                    },
                    "streaming": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "tools",
                    "vision",
                    "reasoning",
                    "streaming"
                  ]
                }
              },
              "required": [
                "id",
                "object",
                "owned_by",
                "capabilities"
              ]
            }
          }
        },
        "required": [
          "object",
          "data"
        ]
      },
      "ResponseRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1
          },
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {}
                            }
                          ]
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call"
                          ]
                        },
                        "call_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "arguments": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "name",
                        "arguments"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call_output"
                          ]
                        },
                        "call_id": {
                          "type": "string"
                        },
                        "output": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "output"
                      ]
                    }
                  ]
                }
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "name"
              ]
            }
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "model",
          "input"
        ]
      },
      "Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "message"
                      ]
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "output_text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "role",
                    "content"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "function_call"
                      ]
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "call_id",
                    "name",
                    "arguments"
                  ]
                }
              ]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              },
              "points": {
                "type": "integer",
                "minimum": 0
              },
              "points_rated": {
                "type": "integer",
                "minimum": 0
              },
              "points_charged": {
                "type": "integer",
                "minimum": 0
              },
              "remaining_points": {
                "type": "integer",
                "minimum": 0
              },
              "request_id": {
                "type": "string",
                "format": "uuid"
              },
              "billing_mode": {
                "type": "string",
                "enum": [
                  "SHADOW",
                  "ENFORCED"
                ]
              }
            },
            "required": [
              "input_tokens",
              "output_tokens",
              "total_tokens"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output",
          "usage"
        ]
      },
      "ClientConfig": {
        "type": "object",
        "properties": {
          "minimumVersion": {
            "type": "string"
          },
          "latestVersion": {
            "type": "string"
          },
          "maintenance": {
            "type": "boolean"
          },
          "features": {
            "type": "object",
            "properties": {
              "cloudGateway": {
                "type": "boolean"
              }
            },
            "required": [
              "cloudGateway"
            ]
          }
        },
        "required": [
          "minimumVersion",
          "latestVersion",
          "maintenance",
          "features"
        ]
      },
      "LatestReleaseResponse": {
        "type": "object",
        "properties": {
          "release": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "version": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "platform": {
                "type": "string"
              },
              "arch": {
                "type": "string"
              },
              "downloadUrl": {
                "type": "string"
              },
              "sha256": {
                "type": "string"
              },
              "releaseNotes": {
                "type": "string"
              },
              "published": {
                "type": "boolean"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "version",
              "channel",
              "platform",
              "arch",
              "downloadUrl",
              "sha256",
              "releaseNotes",
              "published",
              "createdAt"
            ]
          }
        },
        "required": [
          "release"
        ]
      },
      "AccountSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DISABLED",
              "EXPIRED"
            ]
          }
        },
        "required": [
          "id",
          "email",
          "status"
        ]
      },
      "SubscriptionSummary": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "TRIAL",
              "ACTIVE",
              "PAST_DUE",
              "CANCELED",
              "EXPIRED",
              "SUSPENDED"
            ]
          },
          "planCode": {
            "type": "string"
          },
          "periodStart": {
            "type": "string",
            "format": "date-time"
          },
          "periodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "monthlyPoints": {
            "type": "integer",
            "minimum": 0
          },
          "maxDevices": {
            "type": "integer",
            "minimum": 0
          },
          "rolloverPolicy": {
            "type": "string",
            "enum": [
              "NONE",
              "UNLIMITED"
            ]
          }
        },
        "required": [
          "id",
          "status",
          "planCode",
          "periodStart",
          "periodEnd",
          "monthlyPoints",
          "maxDevices",
          "rolloverPolicy"
        ]
      },
      "WalletSummary": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "integer",
            "minimum": 0
          },
          "unit": {
            "type": "string",
            "enum": [
              "AI_POINT"
            ]
          }
        },
        "required": [
          "balance",
          "unit"
        ]
      },
      "DeviceCredential": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "minLength": 1
          },
          "refreshToken": {
            "type": "string",
            "minLength": 1
          },
          "expiresIn": {
            "type": "number",
            "enum": [
              1800
            ]
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "DISABLED",
                  "EXPIRED"
                ]
              },
              "role": {
                "type": "string",
                "enum": [
                  "USER",
                  "ADMIN"
                ]
              }
            },
            "required": [
              "id",
              "email",
              "status",
              "role"
            ]
          },
          "device": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceName": {
                "type": "string"
              },
              "platform": {
                "type": "string"
              },
              "osVersion": {
                "type": "string"
              },
              "appVersion": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "REVOKED",
                  "BLOCKED"
                ]
              },
              "activatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "lastSeenAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "userId",
              "deviceId",
              "deviceName",
              "platform",
              "osVersion",
              "appVersion",
              "status",
              "activatedAt",
              "lastSeenAt",
              "updatedAt"
            ]
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "user",
          "device"
        ]
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ownership": {
            "type": "string",
            "enum": [
              "MANAGED"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DISABLED"
            ]
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "ownership",
          "status"
        ]
      },
      "ProviderConnection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "providerId": {
            "type": "string",
            "format": "uuid"
          },
          "ownership": {
            "type": "string",
            "enum": [
              "BYOS"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "DISABLED"
            ]
          },
          "label": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "providerId",
          "ownership",
          "status",
          "label"
        ]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "publicId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "tools": {
                "type": "boolean"
              },
              "vision": {
                "type": "boolean"
              },
              "reasoning": {
                "type": "boolean"
              },
              "streaming": {
                "type": "boolean"
              }
            },
            "required": [
              "tools",
              "vision",
              "reasoning",
              "streaming"
            ]
          }
        },
        "required": [
          "id",
          "publicId",
          "displayName",
          "capabilities"
        ]
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "integer",
            "minimum": 0
          },
          "pointsRated": {
            "type": "integer",
            "minimum": 0
          },
          "pointsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "legacy": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "requests",
          "pointsRated",
          "pointsCharged",
          "legacy"
        ]
      },
      "UsageRecord": {
        "type": "object",
        "properties": {
          "inputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "outputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "cachedInputTokens": {
            "type": "integer",
            "minimum": 0
          },
          "reasoningTokens": {
            "type": "integer",
            "minimum": 0
          },
          "pointsRated": {
            "type": "integer",
            "minimum": 0
          },
          "pointsCharged": {
            "type": "integer",
            "minimum": 0
          },
          "billingStatus": {
            "type": "string",
            "enum": [
              "SETTLED",
              "SHADOW",
              "UNPAID",
              "NO_USAGE",
              "METERING_ERROR",
              "UNRATED"
            ]
          },
          "rateCardVersionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "inputTokens",
          "outputTokens",
          "cachedInputTokens",
          "reasoningTokens",
          "pointsRated",
          "pointsCharged",
          "billingStatus",
          "rateCardVersionId"
        ]
      },
      "ReferralSummary": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "registered": {
            "type": "integer",
            "minimum": 0
          },
          "rewarded": {
            "type": "integer",
            "minimum": 0
          },
          "pointsEarned": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "code",
          "registered",
          "rewarded",
          "pointsEarned"
        ]
      },
      "ReferralRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "REGISTERED",
              "PENDING",
              "QUALIFIED",
              "REWARDED",
              "REJECTED"
            ]
          },
          "registeredAt": {
            "type": "string",
            "format": "date-time"
          },
          "qualifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "registeredAt",
          "qualifiedAt"
        ]
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 12,
            "maxLength": 256
          },
          "referralCode": {
            "type": "string",
            "minLength": 8,
            "maxLength": 24
          },
          "emailCode": {
            "type": "string",
            "pattern": "^\\d{6}$"
          }
        },
        "required": [
          "email",
          "password",
          "emailCode"
        ]
      },
      "RegistrationConfig": {
        "type": "object",
        "properties": {
          "verificationRequired": {
            "type": "boolean"
          },
          "turnstileSiteKey": {
            "type": [
              "string",
              "null"
            ]
          },
          "registrationAvailable": {
            "type": "boolean"
          },
          "configurationStatus": {
            "type": "string",
            "enum": [
              "DISABLED",
              "READY",
              "MISSING_CONFIG"
            ]
          }
        },
        "required": [
          "verificationRequired",
          "turnstileSiteKey",
          "registrationAvailable",
          "configurationStatus"
        ]
      },
      "RequestEmailCode": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          }
        },
        "required": [
          "email",
          "turnstileToken"
        ]
      },
      "WebLoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4096
          }
        },
        "required": [
          "email",
          "password",
          "turnstileToken"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "POST /api/v1/auth/login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      },
                      "turnstileToken": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 4096
                      }
                    },
                    "required": [
                      "email",
                      "password",
                      "turnstileToken"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "email",
                      "password"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      },
                      "device": {
                        "type": "object",
                        "properties": {
                          "deviceId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "deviceName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "platform": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "osVersion": {
                            "type": "string",
                            "maxLength": 120,
                            "default": ""
                          },
                          "appVersion": {
                            "type": "string",
                            "maxLength": 120,
                            "default": ""
                          },
                          "publicKeyJwk": {
                            "type": "object",
                            "properties": {
                              "kty": {
                                "type": "string",
                                "enum": [
                                  "EC"
                                ]
                              },
                              "crv": {
                                "type": "string",
                                "enum": [
                                  "P-256"
                                ]
                              },
                              "x": {
                                "type": "string",
                                "minLength": 43,
                                "maxLength": 43,
                                "format": "base64url"
                              },
                              "y": {
                                "type": "string",
                                "minLength": 43,
                                "maxLength": 43,
                                "format": "base64url"
                              }
                            },
                            "required": [
                              "kty",
                              "crv",
                              "x",
                              "y"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "deviceId",
                          "deviceName",
                          "platform",
                          "publicKeyJwk"
                        ]
                      }
                    },
                    "required": [
                      "email",
                      "password",
                      "device"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "accessToken": {
                          "type": "string",
                          "minLength": 1
                        },
                        "refreshToken": {
                          "type": "string",
                          "minLength": 1
                        },
                        "expiresIn": {
                          "type": "number",
                          "enum": [
                            1800
                          ]
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "DISABLED",
                                "EXPIRED"
                              ]
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "USER",
                                "ADMIN"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "email",
                            "status",
                            "role"
                          ]
                        },
                        "device": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "userId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "deviceId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "deviceName": {
                              "type": "string"
                            },
                            "platform": {
                              "type": "string"
                            },
                            "osVersion": {
                              "type": "string"
                            },
                            "appVersion": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "REVOKED",
                                "BLOCKED"
                              ]
                            },
                            "activatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "lastSeenAt": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "userId",
                            "deviceId",
                            "deviceName",
                            "platform",
                            "osVersion",
                            "appVersion",
                            "status",
                            "activatedAt",
                            "lastSeenAt",
                            "updatedAt"
                          ]
                        }
                      },
                      "required": [
                        "accessToken",
                        "refreshToken",
                        "expiresIn",
                        "user",
                        "device"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "USER",
                                "ADMIN"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "ACTIVE",
                                "DISABLED",
                                "EXPIRED"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "email",
                            "role",
                            "status"
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "summary": "Rotate a DPoP-bound desktop refresh token",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "DPoP",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 20
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "number",
                      "enum": [
                        1800
                      ]
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT_DISABLED",
                            "AUTH_REQUIRED",
                            "BILLING_REVIEW_REQUIRED",
                            "CANNOT_DISABLE_SELF",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "COPILOT_AUTH_EXPIRED",
                            "COPILOT_NOT_ENTITLED",
                            "COPILOT_USAGE_UNAVAILABLE",
                            "CSRF_REJECTED",
                            "DEVICE_LIMIT_REACHED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_PROOF_INVALID",
                            "DEVICE_PROOF_REPLAYED",
                            "DEVICE_REVOKED",
                            "EMAIL_IN_USE",
                            "EMAIL_CODE_INVALID",
                            "EMAIL_DELIVERY_UNAVAILABLE",
                            "FEATURE_DISABLED",
                            "TURNSTILE_INVALID",
                            "TURNSTILE_UNAVAILABLE",
                            "FORBIDDEN",
                            "GATEWAY_TIMEOUT",
                            "IDEMPOTENCY_CONFLICT",
                            "INSUFFICIENT_POINTS",
                            "INTERNAL_ERROR",
                            "INVALID_CREDENTIALS",
                            "INVALID_POINTS",
                            "INVALID_PROVIDER_CONNECTION",
                            "INVALID_REFERRAL_CODE",
                            "MODEL_NOT_ALLOWED",
                            "MODEL_NOT_AVAILABLE",
                            "MODEL_PROVIDER_MISMATCH",
                            "MODEL_UNAVAILABLE",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "NOT_FOUND",
                            "ORDER_NOT_PAYABLE",
                            "PAYMENT_PROVIDER_NOT_CONNECTED",
                            "PLAN_NOT_FOUND",
                            "PLAN_REQUIRED",
                            "PROVIDER_AUTH_REQUIRED",
                            "PROVIDER_CONNECTION_UNAVAILABLE",
                            "PROVIDER_UNAVAILABLE",
                            "RATE_CARD_EXISTS",
                            "RATE_CARD_FUTURE_SCHEDULE_NOT_SUPPORTED",
                            "RATE_CARD_NOT_DRAFT",
                            "RATE_CARD_UNAVAILABLE",
                            "RATE_LIMITED",
                            "REFERRAL_CODE_UNAVAILABLE",
                            "REFERRAL_NOT_ELIGIBLE",
                            "REFERRAL_NOT_REVIEWABLE",
                            "REQUEST_NOT_FOUND",
                            "ROLLOVER_POLICY_INVALID",
                            "SUBSCRIPTION_EXPIRED",
                            "SUBSCRIPTION_NOT_FOUND",
                            "SUBSCRIPTION_REQUIRED",
                            "TOKEN_EXPIRED",
                            "UNAUTHORIZED",
                            "VALIDATION_ERROR",
                            "WALLET_LEDGER_MISMATCH",
                            "WALLET_LIMIT_REACHED"
                          ]
                        },
                        "message": {
[...]
