{
  "openapi": "3.1.0",
  "info": {
    "title": "Copilot Bridge Cloud Desktop API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ai.mddxz.top"
    },
    {
      "url": "http://127.0.0.1:3001"
    }
  ],
  "components": {
    "securitySchemes": {
      "DesktopBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "DeviceInfo": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "platform": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "osVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          },
          "appVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          }
        },
        "required": [
          "deviceId",
          "deviceName",
          "platform"
        ]
      },
      "Device": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "platform": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "osVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          },
          "appVersion": {
            "type": "string",
            "maxLength": 120,
            "default": ""
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "REVOKED"
            ]
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "deviceId",
          "deviceName",
          "platform",
          "id",
          "userId",
          "status",
          "activatedAt",
          "lastSeenAt"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "device": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60
              },
              "osVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "appVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              }
            },
            "required": [
              "deviceId",
              "deviceName",
              "platform"
            ]
          }
        },
        "required": [
          "email",
          "password",
          "device"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number",
            "enum": [
              1800
            ]
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string",
                "enum": [
                  "USER",
                  "ADMIN"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "DISABLED",
                  "EXPIRED"
                ]
              }
            },
            "required": [
              "id",
              "email",
              "role",
              "status"
            ]
          },
          "device": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "format": "uuid"
              },
              "deviceName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 60
              },
              "osVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "appVersion": {
                "type": "string",
                "maxLength": 120,
                "default": ""
              },
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "REVOKED"
                ]
              },
              "activatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "lastSeenAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            },
            "required": [
              "deviceId",
              "deviceName",
              "platform",
              "id",
              "userId",
              "status",
              "activatedAt",
              "lastSeenAt"
            ]
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "user",
          "device"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "minLength": 20
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "number",
            "enum": [
              1800
            ]
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "UNAUTHORIZED",
                  "TOKEN_EXPIRED",
                  "DEVICE_NOT_REGISTERED",
                  "DEVICE_REVOKED",
                  "DEVICE_LIMIT_REACHED",
                  "ACCOUNT_DISABLED",
                  "SUBSCRIPTION_REQUIRED",
                  "SUBSCRIPTION_EXPIRED",
                  "MODEL_NOT_ALLOWED",
                  "MONTHLY_QUOTA_EXCEEDED",
                  "RATE_LIMITED",
                  "PROVIDER_UNAVAILABLE",
                  "MODEL_UNAVAILABLE",
                  "GATEWAY_TIMEOUT",
                  "CLIENT_THREAD_ID_REQUIRED",
                  "VALIDATION_ERROR",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "enum": [
              "STANDARD",
              "PRO"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "monthlyPrice": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "maxDevices": {
            "type": "integer"
          },
          "monthlyTokenLimit": {
            "type": "integer"
          },
          "monthlyUsageCreditLimit": {
            "type": "string"
          },
          "maxConcurrentRequests": {
            "type": "integer"
          },
          "requestsPerMinute": {
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "description",
          "monthlyPrice",
          "currency",
          "maxDevices",
          "monthlyTokenLimit",
          "monthlyUsageCreditLimit",
          "maxConcurrentRequests",
          "requestsPerMinute",
          "enabled"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "planId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "TRIAL",
              "ACTIVE",
              "PAST_DUE",
              "CANCELED",
              "EXPIRED",
              "SUSPENDED"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentPeriodStart": {
            "type": "string",
            "format": "date-time"
          },
          "currentPeriodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "cancelAtPeriodEnd": {
            "type": "boolean"
          },
          "pendingPlanId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "id",
          "userId",
          "planId",
          "status",
          "startedAt",
          "currentPeriodStart",
          "currentPeriodEnd",
          "cancelAtPeriodEnd",
          "pendingPlanId"
        ]
      },
      "Usage": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "number"
          },
          "credit": {
            "type": "number"
          },
          "requests": {
            "type": "number"
          },
          "tokenLimit": {
            "type": "number"
          },
          "creditLimit": {
            "type": "number"
          },
          "percent": {
            "type": "number"
          },
          "threshold": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  0
                ]
              },
              {
                "type": "number",
                "enum": [
                  70
                ]
              },
              {
                "type": "number",
                "enum": [
                  90
                ]
              },
              {
                "type": "number",
                "enum": [
                  100
                ]
              }
            ]
          }
        },
        "required": [
          "tokens",
          "credit",
          "requests",
          "tokenLimit",
          "creditLimit",
          "percent",
          "threshold"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string",
                "enum": [
                  "USER",
                  "ADMIN"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "DISABLED",
                  "EXPIRED"
                ]
              }
            },
            "required": [
              "id",
              "email",
              "role",
              "status"
            ]
          },
          "subscription": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "userId": {
                "type": "string",
                "format": "uuid"
              },
              "planId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "TRIAL",
                  "ACTIVE",
                  "PAST_DUE",
                  "CANCELED",
                  "EXPIRED",
                  "SUSPENDED"
                ]
              },
              "startedAt": {
                "type": "string",
                "format": "date-time"
              },
              "currentPeriodStart": {
                "type": "string",
                "format": "date-time"
              },
              "currentPeriodEnd": {
                "type": "string",
                "format": "date-time"
              },
              "cancelAtPeriodEnd": {
                "type": "boolean"
              },
              "pendingPlanId": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid"
              }
            },
            "required": [
              "id",
              "userId",
              "planId",
              "status",
              "startedAt",
              "currentPeriodStart",
              "currentPeriodEnd",
              "cancelAtPeriodEnd",
              "pendingPlanId"
            ]
          },
          "plan": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "code": {
                "type": "string",
                "enum": [
                  "STANDARD",
                  "PRO"
                ]
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "monthlyPrice": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "maxDevices": {
                "type": "integer"
              },
              "monthlyTokenLimit": {
                "type": "integer"
              },
              "monthlyUsageCreditLimit": {
                "type": "string"
              },
              "maxConcurrentRequests": {
                "type": "integer"
              },
              "requestsPerMinute": {
                "type": "integer"
              },
              "enabled": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "code",
              "name",
              "description",
              "monthlyPrice",
              "currency",
              "maxDevices",
              "monthlyTokenLimit",
              "monthlyUsageCreditLimit",
              "maxConcurrentRequests",
              "requestsPerMinute",
              "enabled"
            ]
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "deviceId": {
                  "type": "string",
                  "format": "uuid"
                },
                "deviceName": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "platform": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 60
                },
                "osVersion": {
                  "type": "string",
                  "maxLength": 120,
                  "default": ""
                },
                "appVersion": {
                  "type": "string",
                  "maxLength": 120,
                  "default": ""
                },
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "userId": {
                  "type": "string",
                  "format": "uuid"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "ACTIVE",
                    "REVOKED"
                  ]
                },
                "activatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastSeenAt": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "deviceId",
                "deviceName",
                "platform",
                "id",
                "userId",
                "status",
                "activatedAt",
                "lastSeenAt"
              ]
            }
          },
          "usage": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "tokens": {
                "type": "number"
              },
              "credit": {
                "type": "number"
              },
              "requests": {
                "type": "number"
              },
              "tokenLimit": {
                "type": "number"
              },
              "creditLimit": {
                "type": "number"
              },
              "percent": {
                "type": "number"
              },
              "threshold": {
                "anyOf": [
                  {
                    "type": "number",
                    "enum": [
                      0
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      70
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      90
                    ]
                  },
                  {
                    "type": "number",
                    "enum": [
                      100
                    ]
                  }
                ]
              }
            },
            "required": [
              "tokens",
              "credit",
              "requests",
              "tokenLimit",
              "creditLimit",
              "percent",
              "threshold"
            ]
          }
        },
        "required": [
          "user",
          "subscription",
          "plan",
          "devices",
          "usage"
        ]
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string",
                  "enum": [
                    "model"
                  ]
                },
                "owned_by": {
                  "type": "string"
                },
                "capabilities": {
                  "type": "object",
                  "properties": {
                    "tools": {
                      "type": "boolean"
                    },
                    "vision": {
                      "type": "boolean"
                    },
                    "reasoning": {
                      "type": "boolean"
                    },
                    "streaming": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "tools",
                    "vision",
                    "reasoning",
                    "streaming"
                  ]
                }
              },
              "required": [
                "id",
                "object",
                "owned_by",
                "capabilities"
              ]
            }
          }
        },
        "required": [
          "object",
          "data"
        ]
      },
      "ResponseRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1
          },
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {}
                            }
                          ]
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": {}
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call"
                          ]
                        },
                        "call_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "arguments": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "name",
                        "arguments"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call_output"
                          ]
                        },
                        "call_id": {
                          "type": "string"
                        },
                        "output": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "output"
                      ]
                    }
                  ]
                }
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "name"
              ]
            }
          },
          "reasoning": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "model",
          "input"
        ]
      },
      "Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "message"
                      ]
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "output_text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "text"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "role",
                    "content"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "function_call"
                      ]
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "call_id",
                    "name",
                    "arguments"
                  ]
                }
              ]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            },
            "required": [
              "input_tokens",
              "output_tokens",
              "total_tokens"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "model",
          "output",
          "usage"
        ]
      },
      "ClientConfig": {
        "type": "object",
        "properties": {
          "minimumVersion": {
            "type": "string"
          },
          "latestVersion": {
            "type": "string"
          },
          "maintenance": {
            "type": "boolean"
          },
          "features": {
            "type": "object",
            "properties": {
              "cloudGateway": {
                "type": "boolean"
              }
            },
            "required": [
              "cloudGateway"
            ]
          }
        },
        "required": [
          "minimumVersion",
          "latestVersion",
          "maintenance",
          "features"
        ]
      },
      "LatestReleaseResponse": {
        "type": "object",
        "properties": {
          "release": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "version": {
                "type": "string"
              },
              "channel": {
                "type": "string"
              },
              "platform": {
                "type": "string"
              },
              "arch": {
                "type": "string"
              },
              "downloadUrl": {
                "type": "string"
              },
              "sha256": {
                "type": "string"
              },
              "releaseNotes": {
                "type": "string"
              },
              "published": {
                "type": "boolean"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "version",
              "channel",
              "platform",
              "arch",
              "downloadUrl",
              "sha256",
              "releaseNotes",
              "published",
              "createdAt"
            ]
          }
        },
        "required": [
          "release"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Desktop login and device activation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "device": {
                    "type": "object",
                    "properties": {
                      "deviceId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "deviceName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "platform": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 60
                      },
                      "osVersion": {
                        "type": "string",
                        "maxLength": 120,
                        "default": ""
                      },
                      "appVersion": {
                        "type": "string",
                        "maxLength": 120,
                        "default": ""
                      }
                    },
                    "required": [
                      "deviceId",
                      "deviceName",
                      "platform"
                    ]
                  }
                },
                "required": [
                  "email",
                  "password",
                  "device"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "number",
                      "enum": [
                        1800
                      ]
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "USER",
                            "ADMIN"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "DISABLED",
                            "EXPIRED"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "role",
                        "status"
                      ]
                    },
                    "device": {
                      "type": "object",
                      "properties": {
                        "deviceId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "deviceName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "platform": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 60
                        },
                        "osVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "appVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "REVOKED"
                          ]
                        },
                        "activatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSeenAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "deviceId",
                        "deviceName",
                        "platform",
                        "id",
                        "userId",
                        "status",
                        "activatedAt",
                        "lastSeenAt"
                      ]
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken",
                    "expiresIn",
                    "user",
                    "device"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "summary": "Rotate device refresh token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 20
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "number",
                      "enum": [
                        1800
                      ]
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "summary": "Revoke current refresh token",
        "security": [
          {
            "DesktopBearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 20
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "summary": "Current user",
        "security": [
          {
            "DesktopBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "USER",
                            "ADMIN"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "DISABLED",
                            "EXPIRED"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "role",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/register": {
      "post": {
        "summary": "Register current device",
        "security": [
          {
            "DesktopBearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "deviceName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "osVersion": {
                    "type": "string",
                    "maxLength": 120,
                    "default": ""
                  },
                  "appVersion": {
                    "type": "string",
                    "maxLength": 120,
                    "default": ""
                  }
                },
                "required": [
                  "deviceId",
                  "deviceName",
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device": {
                      "type": "object",
                      "properties": {
                        "deviceId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "deviceName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "platform": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 60
                        },
                        "osVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "appVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "REVOKED"
                          ]
                        },
                        "activatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSeenAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "deviceId",
                        "deviceName",
                        "platform",
                        "id",
                        "userId",
                        "status",
                        "activatedAt",
                        "lastSeenAt"
                      ]
                    }
                  },
                  "required": [
                    "device"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices": {
      "get": {
        "summary": "List devices",
        "security": [
          {
            "DesktopBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deviceId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "deviceName": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 120
                          },
                          "platform": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 60
                          },
                          "osVersion": {
                            "type": "string",
                            "maxLength": 120,
                            "default": ""
                          },
                          "appVersion": {
                            "type": "string",
                            "maxLength": 120,
                            "default": ""
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "userId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "REVOKED"
                            ]
                          },
                          "activatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastSeenAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "deviceId",
                          "deviceName",
                          "platform",
                          "id",
                          "userId",
                          "status",
                          "activatedAt",
                          "lastSeenAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Quota or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "UNAUTHORIZED",
                            "TOKEN_EXPIRED",
                            "DEVICE_NOT_REGISTERED",
                            "DEVICE_REVOKED",
                            "DEVICE_LIMIT_REACHED",
                            "ACCOUNT_DISABLED",
                            "SUBSCRIPTION_REQUIRED",
                            "SUBSCRIPTION_EXPIRED",
                            "MODEL_NOT_ALLOWED",
                            "MONTHLY_QUOTA_EXCEEDED",
                            "RATE_LIMITED",
                            "PROVIDER_UNAVAILABLE",
                            "MODEL_UNAVAILABLE",
                            "GATEWAY_TIMEOUT",
                            "CLIENT_THREAD_ID_REQUIRED",
                            "VALIDATION_ERROR",
                            "INTERNAL_ERROR"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "requestId"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/{id}": {
      "delete": {
        "summary": "Revoke a device",
        "security": [
          {
            "DesktopBearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device": {
                      "type": "object",
                      "properties": {
                        "deviceId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "deviceName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "platform": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 60
                        },
                        "osVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "appVersion": {
                          "type": "string",
                          "maxLength": 120,
                          "default": ""
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "userId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "REVOKED"
                          ]
                        },
                        "activatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "lastSeenAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "deviceId",
                        "deviceName",
                        "platform",
                        "id",
                        "userId",
                        "status",
                        "activatedAt",
                        "lastSeenAt"
                      ]
                    }
                  },
                  "required": [
                    "device"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
[...]
